
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="container" >
        <div class="row">
            <div class="section_tittle">
                <h2><span>Kişisel</span> Bilgiler</h2>
            </div>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">1</th>
                    <td>Doğum Tarihi</td>
                    <td>11.02.1997</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">2</th>
                    <td>Doğum Yeri</td>
                    <td>Akçaabat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Uğruğu</td>
                    <td>T.C</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Sürücü Belgesi</td>
                    <td>B</td>
                </tr>
            </tbody>
        </table>

    </div>

    <div class="container" style="margin-top:70px;">
        <div class="row">
            <div class="section_tittle">
                <h2><span>Öğrenim</span> Durumu</h2>
            </div>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Üniversite Adı</th>
                    <th scope="col">Bölüm Adı</th>
                    <th scope="col">Sınıf</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Sakarya Üniversitesi</td>
                    <td>Bilgisayar Mühendisliği</td>
                    <td>4. Sınıf</td>
                </tr>
            </tbody>
        </table>

    </div>


    <div class="container" style="margin-top:70px;">
        <div class="row">
            <div class="section_tittle">
                <h2><span>Bilgisayar</span> Becerileri</h2>
            </div>
        </div>


        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">1</th>
                    <td>C++ ile uygulamalar geliştirdim.</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">2</th>
                    <td>C# ile uygulamalar geliştirdim.</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Java ile uygulamalar geliştirdim.</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>ASP.Net MVC kullanarak projeler geliştirdim.</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>ASP.Net Core Razor Pages kullanarak projeler geliştirdim.</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>HTML, JavaScript ve CSS kullanabilir düzeydeyim.</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>Microsoft SQL Server kullanabiliyorum.</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="container" style="margin-top:70px;">
        <div class="row">
            <div class="section_tittle">
                <h2><span>Yabancı Dil</span> Düzeyi</h2>
            </div>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Okuma</th>
                    <th scope="col">Yazma</th>
                    <th scope="col">Konuşma</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Orta</td>
                    <td>Orta</td>
                    <td>Orta</td>
                </tr>
            </tbody>
        </table>

    </div>

    <div class="container" style="margin-top:70px;">
        <div class="row">
            <div class="section_tittle">
                <h2><span>İş</span> Tecrübesi</h2>
            </div>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">1</th>
                    <td>Henüz iş tecrübem bulunmamaktadır.</td>
                </tr>
            </thead>
        </table>

    </div>

</section>
