@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="section_tittle">
            <h2><span></span> </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="about_img">
                <img src="~/Content/img/Emel.jpg" alt="" />
            </div>
        </div>
        <div class="offset-lg-1 col-lg-5 col-sm-8 col-md-6">
            <div class="about_text">
                <h2>
                    Merhaba;
                </h2>
                <p>
                    Sakarya Üniversitesi 4. sınıf öğrencisiyim.
                    Kendimi tanıtmayı pek sevmesem de sizin için kısa bilgiler vereceğim.
                </p>
                <h4 class="widget_title">Hobilerim</h4>
                <p>
                    Buraya klasik Türk gencinin aklına gelen ama asla yapmadığı şeyleri sıralamayacağım.
                    Örneğin KİTAP OKUMAK, müzik dinlemek resim yapmak..
                    Keşke söylenen kadar okuyan bir toplum olsak tabii..
                    Bu arada sıraladığım hobileri fazlasıyla severim.
                    Bunların kamp yapmaktan ve doğa ile iç içe olmaktan zevk alırım.
                    Bir de yüzmeyi çok severim ama yüzme bilmiyorum.
                    Gördüğünüz gibi öngörülüyüm de, sonuçta bilsem severdim. &#128521
                </p>
                <h4 class="widget_title">Sosyal Medya</h4>
                <p>
                    <div class="footer_icon social_icon">
                        <ul class="list-unstyled">
                            <li>
                                <a href="https://www.facebook.com/emelgunher">
                                    <img src="~/Content/img/—Pngtree—facebook icon facebook logo fb_3560489.png" style="width:50px;height:50px;" />
                                    Facebook
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/emelgunher/">
                                    <img src="~/Content/img/—Pngtree—instagram icon logo_3560507.png" style="width:50px;height:50px;" />
                                    Instagram
                                </a>
                            </li>
                        </ul>
                    </div>
                </p>

            </div>
        </div>
    </div>
</div>