
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="section_tittle">
        <h2><span></span></h2>
    </div>
</div>


<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" >
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <a href="#uzungol"><img src="~/Content/img/Uzungol.jpg" class="d-block w-100" alt="..."></a>
            
        </div>
        <div class="carousel-item">
            <a href="#ataturk">
                <img src="~/Content/img/AtaturkKosku.jpg" class="d-block w-100" alt="...">
            </a>
        </div>
        <div class="carousel-item">
            <a href="#sumela">
                <img src="~/Content/img/SumelaManastiri.jpg" class="d-block w-100" alt="...">
            </a>
        </div>
        <div class="carousel-item">
            <a href="#sera">
                <img src="~/Content/img/SeraGölü.jpg" class="d-block w-100" alt="...">
            </a>
        </div>
        <div class="carousel-item">
            <a href="#ayasofya">
                <img src="~/Content/img/AyasofyaMuzesi.jpg" class="d-block w-100" alt="...">
            </a>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Önceki</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Sonraki</span>
    </a>
</div>

<div class="container" style="margin-top:70px;>
    <div class="row">
        <div class="section_tittle">
            <h2><span>Trabzon</span> </h2>
        </div>
    </div>
    <div class="row">
        <div >

            <p>
                Trabzon Türkiye'nin bir ili ve en kalabalık yirmi yedinci şehridir.
                Trabzon İl Nüfusu: 808.974'dur.Karadeniz Bölgesi'nin Doğu Karadeniz Bölümü'nde yer alan ilin Karadeniz'e kıyısı bulunur.
                Karadeniz sahili ile Doğu Karadeniz Dağları arasında yer almakta olup yüzölçümü açısından az bir alan kaplar.
            </p>
            <p>
                7 Eylül 2010 tarih ve 27695 sayılı resmi gazetede yayımlanan karar ile birlikte 7 belde ve 29 köy tüzel kişilikleri kaldırılarak belediye sınırlarına dahil edilmiştir.
                Bu son düzenleme ile birlikte belediye nüfusu 402.166'ya çıkmıştır.
            </p>
            <p>
                Trabzon, günümüzde Karadeniz Bölgesi'nin Samsun'dan sonra ikinci büyük kentidir.
                Trabzon, 12 Kasım 2012 tarihinde kabul edilen büyükşehir yasa tasarısı ile büyükşehir belediyesi olmuş ve merkez ilçe kaldırılarak Ortahisar ilçesi kurulmuştur.
                Trabzon iki il ile birlikte de "şehzadeler şehri" olarak anılır.
            </p>
            <p>
                Evliya Çelebi Trabzon için şöyle demiş:
                - Bu şehre küçük İstanbul denilse yeridir. İrem bağları gibi süslü bir şehirdir burası.
            </p>
            <div class="container" style="margin-top:70px;>
                <div class="row">
                    <div class="section_tittle">
                        <h2><span>Doğal ve Tarihi</span> Güzellikleri </h2>
                    </div>
                </div>
                <div class="about_text">
                    <div id="uzungol">
                        <h4 class="widget_title">Uzungöl</h4>
                    </div>
                    <p>
                        Trabzon ilinin Çaykara ilçesine bağlı turistik bir yeridir.
                        Sık ormanları ve doğal güzelliği ile yerli ve yabancı turistleri cezbetmektedir.
                        Adını kıyısında bulunduğu gölden alır.
                        Bu göl yamaçlardan düşen kayaların, Haldizen deresinin önünü kapatmasıyla oluşmuştur.
                    </p>

                    <div id="ataturk">
                        <h4 class="widget_title">Atatürk Köşkü</h4>
                    </div>
                    <p>
                        Trabzon Atatürk Köşkü, Soğuksu semtinde küçük bir çam korusu içinde yer alır.
                        Yirminci yüzyılın hemen başında yaptırılmış 1923'den sonra hazineye kalmıştır.
                        Atatürk 1934 ve 1937 yıllarındaki Trabzon ziyaretlerinde, bu köşkte konuk edilmiştir.
                        O'nun ölümünden sonra Trabzon belediyesi tarafından o dönemde kullanılan eşyalarla dekore edilerek "Atatürk Müzesi" olarak ziyarete açılmıştır.
                    </p>

                    <div id="sumela">
                        <h4 class="widget_title">Sümela Manastırı</h4>
                    </div>
                    <p>
                        Sümela Manastırı, Trabzon ili, Maçka ilçesi,
                        Altındere köyü sınırları içerisinde yer alan (Antik Yunanca adı: Panagia)
                        deresinin batı yamaçlarında Kara (Antik Yunanca adı: Mela)
                        tepesi üzerinde deniz seviyesinden 1.150 m yükseklikteki eski Rum Ortodoks manastır ve kilise kompleksi olup,
                        tam adı Panagia Sumela (Παναγία Σουμελά) veya Theotokos Sumela'dır.
                    </p>

                    <div id="sera">
                        <h4 class="widget_title">Sera Gölü</h4>
                    </div>
                    <p>
                        Sera Gölü, Trabzon'un Akçaabat ilçesi sınırları içerisinde bulunan bir heyelan set gölüdür.
                        Göl, Yıldızlı ve Derecik belediyelerinin arasında yer alan Derecik Vadisi'nde oluşmuştur.
                        İsmini hudutları içerisinde olduğu Yıldızlı'nın eski adı olan Sera'dan almıştır.
                    </p>

                    <div id="ayasofya">
                        <h4 class="widget_title">Ayasofya Müzesi</h4>
                    </div>
                        <p>
                            Günümüzde cami olarak kullanılmakta olan Trabzon Ayasofya Kilisesi,
                            Trabzon İmparatorluğu krallarından 1.Manuel Komnenos zamanında (1238-1263) inşa edilmiştir.
                            Fatih Sultan Mehmet’in Trabzon’u fethini takiben yapı, camiye çevrilmiş ve vakıf eser olmuştur.
                            1964 yılından sonra müze olarak ziyarete açılmıştır.
                            28 Haziran 2013 Cuma günü vakit namazının kılınmasıyla,
                            52 yıl sonra yeniden cami olarak Müslümanların ibadetine açılmıştır.
                        </p>
                    </div>
                </div>
        </div>
    </div>
</div>
